@using CLL
@model BDO.DataAccessObjects.SecurityModule.owin_userEntity
@inject CLL.Localization.LocalizeService SharedLocalizer

@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "View User List";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h5 class="card-title">@SharedLocalizer.GetLocalizedHtmlString("VIEW_USER_LIST")</h5>
            </div>
            <!-- /.card-header -->
            <form method="POST" id="frmchangepassword" class="my-login-validation" novalidate="" autocomplete="off">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-12">
                            <table id="dtusers" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><label class="labelNormal  " asp-for="userid"></label></th>
                                        <th><label class="labelNormal  " asp-for="username"></label></th>
                                        <th><label class="labelNormal  " asp-for="emailaddress"></label></th>
                                        <th><label class="labelNormal  " asp-for="mobilenumber"></label></th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Misc Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <!-- ./card-body -->
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">

                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {
    <script>

        $(document).ready(function () {
            $("#dtusers").DataTable({
                "destroy": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "responsive": true,
                "ajax": $.fn.dataTable.json({ url: "/Account/LoadUserData" }),
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "columns": [
                    { "data": "userid", "name": "userid", "autoWidth": true },
                    { "data": "username", "name": "username", "autoWidth": true },
                    { "data": "emailaddress", "name": "emailaddress", "autoWidth": true },
                    { "data": "mobilenumber", "name": "mobilenumber", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Manage/EditUser/' + full.userid + '">Edit</a>'; }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.userid + "'); >Delete</a>";
                        }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.userid + "'); >Other Actions</a>";
                        }
                    },
                ],
                "drawCallback": function (settings) {
                    if (Math.ceil((this.fnSettings().fnRecordsDisplay()) / this.fnSettings()._iDisplayLength) > 1) {
                        $('#GenGallaryCategoryDt_paginate').css("display", "block");
                    } else {
                        $('#GenGallaryCategoryDt_paginate').css("display", "none");
                    }

                }

            });
        });

    </script>
}

