<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a ASP UserControl." Debug=true %>
  
  <%@ CodeTemplate Src="C:\ClassLibrary1\ClassLibrary1\LinqFunctions.cs" Inherits="LinqFunctions" Language="C#" TargetLanguage="C#"
  Description="Generates a data context and entities for given tables." %>
  

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System" %>
<%@ Assembly Name="System.Core" %>
<%@ Assembly Name="System.Collections" %>
<%@ Assembly Name="System.Linq" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Text" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" DeepLoad="True" Default="" Optional="False" %>

<%
    List<ColumnSchema> objColumnList = new List<ColumnSchema>();

        string divRowStart = "<div class=\"row \">";
        string divColumnStart = "<div class=\"col-md-6\">";
        string divClose = "</div>";
        string div = string.Empty;
%>

@{
    ViewBag.Title = KAF.MsgContainer._<%= GetClassName(SourceTable).ToLower() %>.<%=GetTableNamesWithoutPrefix(SourceTable).ToLower()%>List;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                @{
                    KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                    if (objSecPanel.checkButtonPermission("<%=GetTableNamesWithPrefix(SourceTable)%>/<%=GetTableNamesWithPrefix(SourceTable)%>New"))
                    {
                        <button type="submit" class="btn btn-primary btn-md"  id="btnNew<%=GetTableNamesWithPrefix(SourceTable)%>">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                        </button>
                    }
                }
            </div>
            <div class="panel-body">
                <table id="<%=GetTableNamesWithPrefix(SourceTable)%>Dt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                             <% Response.Write(drawHTMLForDataTableShort(SourceTable)); %>
                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-<%=GetTableNamesWithPrefix(SourceTable)%>New" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mc<%=GetTableNamesWithPrefix(SourceTable)%>New">
        </div>
    </div>
</div>

<div id="modal-container-<%=GetTableNamesWithPrefix(SourceTable)%>Edit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mc<%=GetTableNamesWithPrefix(SourceTable)%>Edit">
        </div>
    </div>
</div>

<div id="modal-container-<%=GetTableNamesWithPrefix(SourceTable)%>Detail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important">
        <div class="modal-content" id="mc<%=GetTableNamesWithPrefix(SourceTable)%>Detail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/<%=GetTableNamesWithPrefix(SourceTable)%>/Landing<%= GetTableNamesWithPrefix(SourceTable) %>.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/<%=GetTableNamesWithPrefix(SourceTable)%>/New<%= GetTableNamesWithPrefix(SourceTable)  %>.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/<%=GetTableNamesWithPrefix(SourceTable)%>/Edit<%= GetTableNamesWithPrefix(SourceTable)  %>.js"></script>
    <script src="~/DesignsAndScripts/PageWise/SetupJS/<%=GetTableNamesWithPrefix(SourceTable)%>/Detail<%= GetTableNamesWithPrefix(SourceTable)  %>.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';
    </script>
}



