@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Gallery</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
            <a href="~/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-1.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-2.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-3.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-4.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-5.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-6.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-7.jpg" alt=""></a>
            <a href="~/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-carousel"><img src="~/img/gallery/gallery-8.jpg" alt=""></a>
        </div>

    </div>
</section><!-- End Gallery Section -->