<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates a ASP UserControl." Debug=true %>
  
  <%@ CodeTemplate Src="C:\ClassLibrary1\ClassLibrary1\LinqFunctions.cs" Inherits="LinqFunctions" Language="C#" TargetLanguage="C#"
  Description="Generates a data context and entities for given tables." %>
 

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System" %>
<%@ Assembly Name="System.Core" %>
<%@ Assembly Name="System.Collections" %>
<%@ Assembly Name="System.Linq" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Text" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" DeepLoad="True" Default="" Optional="False" %>
<%@ Property Name="NameSpace" Type="System.String" Default="" Optional="False" %>
<%@ Property Name="WebNameSpace" Type="System.String" Optional="False" %>
<%
    List<ColumnSchema> objColumnList = new List<ColumnSchema>();

        string divRowStart = "<div class=\"row \">";
        string divColumnStart = "<div class=\"col-md-6\">";
        string divClose = "</div>";
        string div = string.Empty;
%>
using System.Threading.Tasks;
using Web.Core.Frame.RequestResponse.UseCaseRequests;
using Web.Core.Frame.RequestResponse.UseCaseResponses;

namespace Web.Core.Frame.Interfaces.UseCases
{
    public interface I<%=GetTableNamesWithoutPrefix(SourceTable) %>UseCase : IUseCaseRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Request, <%=GetTableNamesWithoutPrefix(SourceTable) %>Response>
    {
        Task<bool> Save(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);

        Task<bool> Update(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);

        Task<bool> Delete(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);


        Task<bool> GetSingle(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);

        Task<bool> GetAll(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);


        Task<bool> GetAllPaged(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);

        Task<bool> GetListView(<%=GetTableNamesWithoutPrefix(SourceTable) %>Request message, ICRUDRequestHandler<<%=GetTableNamesWithoutPrefix(SourceTable) %>Response> outputPort);
    }
}
