@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-doctor-alt"></i>
                    <span class="counter" >85</span>
                    <p><strong>Doctors</strong> consequuntur quae qui deca rode</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-patient-bed"></i>
                    <span class="counter">18</span>
                    <p><strong>Departments</strong> adipisci atque cum quia aut numquam delectus</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-laboratory"></i>
                    <span class="counter">8</span>
                    <p><strong>Research Lab</strong> aut commodi quaerat. Aliquam ratione</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-award"></i>
                    <span class="counter">150</span>
                    <p><strong>Awards</strong> rerum asperiores dolor molestiae doloribu</p>
                    <a href="#">Find out more &raquo;</a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->